belimoCloudAgent.channels.memory-channel.type=memory
 
belimoCloudAgent.sources.tail-source.type=exec
belimoCloudAgent.sources.tail-source.command=tail -F /home/hduser/project/streamingDataSource.json
belimoCloudAgent.sources.tail-source.channels=memory-channel
 
belimoCloudAgent.sinks.hdfs-sink.channel=memory-channel
belimoCloudAgent.sinks.hdfs-sink.type=hdfs
belimoCloudAgent.sinks.hdfs-sink.hdfs.path=hdfs:///user/hduser/project/streamingDataSink.json
belimoCloudAgent.sinks.hdfs-sink.hdfs.fileType=DataStream
 
belimoCloudAgent.channels=memory-channel
belimoCloudAgent.sources=tail-source
belimoCloudAgent.sinks=hdfs-sink
