belimoCloudAgent.channels.memory-channel.type=memory
 
belimoCloudAgent.sources.tail-source.type=exec
belimoCloudAgent.sources.tail-source.command=tail -F /user/hduser/clusterData.log
belimoCloudAgent.sources.tail-source.channels=memory-channel
 
belimoCloudAgent.sinks.hdfs-sink.channel=memory-channel
belimoCloudAgent.sinks.hdfs-sink.type=hdfs
belimoCloudAgent.sinks.hdfs-sink.hdfs.path=hdfs://…..
belimoCloudAgent.sinks.hdfs-sink.hdfs.fileType=DataStream
 
belimoCloudAgent.channels=memory-channel
belimoCloudAgent.sources=tail-source
belimoCloudAgent.sinks=hdfs-sink
